.chat-message.chatgpt {
  background-color: #444654;
}

.chat-message-center {
  position: relative;
  max-width: 640px;
  min-height: 75px;
  padding: 12px 36px;
  display: flex;
  margin: 0 auto;
}

.message {
  display: flex;
  align-items: center;
  padding: 0 40px;
}
